<h1>FHIR Patient Resource PoC</h1>

<div [ngStyle]="{'height.px': pageHeight}">
  <kendo-grid [style.height]="'100%'"
              [columnMenu]="true"
              [selectable]="{checkboxOnly: false, mode: 'single'}"
              [resizable]="true"
              [loading]="loading"
              [data]="patientData"
              [pageSize]="state.take"
              [skip]="state.skip"
              [sort]="state.sort"
              [filter]="state.filter"
              [sortable]="true"
              [pageable]="{buttonCount: 10,
                           info: true,
                           type: 'input',
                           pageSizes: true,
                           previousNext: true}"
              [filterable]="true"
              [groupable]="true"
              [group]="state.group"
              (dataStateChange)="onDataStateChange($event)"
              (add)="addPatientHandler($event)">
      <!-- Grid Toolbox -->
      <ng-template kendoGridToolbarTemplate>
        <button kendoButton [primary]="true" [look]="'outline'" (click)="onPatienRefreshClick($event)">Actualizar</button>
        <button kendoGridAddCommand [primary]="true">Add Patient</button>
        <button kendoGridExcelCommand icon="file-excel" style="float: right;">Export Excel</button>
        <button kendoGridPDFCommand icon="file-pdf" style="float: right;">Export PDF</button>
      </ng-template>

      <!-- Grid Column Menu -->
      <ng-template kendoGridColumnMenuTemplate let-service="service">
        <kendo-grid-columnmenu-chooser [service]="service">
        </kendo-grid-columnmenu-chooser>
      </ng-template>

      <!-- Grid Columns -->
      <kendo-grid-column field="id" title="Id" width="50" hidden="true">
      </kendo-grid-column>
      <kendo-grid-column field="name.0.family" title="Name" width="45" >
      </kendo-grid-column>
      <kendo-grid-column field="address[0].text" title="Address" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="gender" title="Gender" width="30">
      </kendo-grid-column>
      <kendo-grid-column field="birthDate" title="BirthDate" width="30" filter="date" [format]="'dd/MM/yyyy'">
      </kendo-grid-column>
      <kendo-grid-column field="deceasedBoolean" title="Deceased" width="30" filter="boolean">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span *ngIf="dataItem.active" class="k-icon k-i-check"></span>
              <span *ngIf="!dataItem.active" class="k-icon k-i-close"></span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="active" title="Active" width="30" filter="boolean">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span *ngIf="dataItem.active" class="k-icon k-i-check"></span>
              <span *ngIf="!dataItem.active" class="k-icon k-i-close"></span>
          </ng-template>
      </kendo-grid-column>

      <!-- Actions Menu -->
      <kendo-grid-command-column width="40" title="Actions">
        <ng-template kendoGridCellTemplate let-dataItem>
            <kendo-splitbutton [data]="menuData" [look]="'outline'" (itemClick)="onMenuClick($event, dataItem)">
              Actions Menu
            </kendo-splitbutton>
        </ng-template>
      </kendo-grid-command-column>

      <!-- Grid Export Tools-->
      <kendo-grid-excel fileName="Pallets.xlsx"></kendo-grid-excel>
      <kendo-grid-pdf fileName="Pallets.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
          <div class="page-template">
            <div class="header">
              <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
              Multi-page grid with automatic page breaking
            </div>
            <div class="footer">
              Page {{ pageNum }} of {{ totalPages }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
  </kendo-grid>

  <div kendoDialogContainer></div>
</div>
